.app{
    overflow: hidden;
}
.header{
    height: var(--header-height);
    background-image: linear-gradient(0, #fc5b31, #f32715);
}
.header__navbar{
    display:flex;
    justify-content:space-between;
}
.header__navbar-list{
    padding-left: 0;
    list-style-type: none;
    margin: 4px 0 ;
   display: flex;
}
.header__navbar-item{
    display: inline-block;
    margin : 0 8px;
    position:relative;
    min-height: 26px;
}
.header__navbar-item,
.header__navbar-item-link{
    font-size: 1.3rem;
    text-decoration: none;
    font-weight: 300;
    color: var(--white-color);

}
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon{
    display: inline-flex;
    align-items: center;
}
.header__navbar-icon-link{
    color:var(--white-color);
    text-decoration: none;
}
.header__navbar-icon-link:nth-child(2){
    margin-left: 3px;
}
.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover{
    color:rgba(255,255,255, 0.7);
    cursor: pointer;
}
.header__navbar-item--strong{
    font-weight: 450;
}
/*warm*/
.header__navbar-item--separate::after{
    content: '';
    display: block;
    position:absolute;
    height:17px;
    border-left: 2px solid #fb9086;
    top: 50%;
    right: -9px;
    transform: translateY(-50%);
}
.header__navbar-user{
    display: inline-flex;
    justify-items: center;
    position: relative; 
}
.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}
.header__navbar-user-img{
    width:22px;
    height:22px;
    border-radius:50%;
    border:1px solid rgba(0,0,0,0,0.1);
}
/* cái thẻ li nó k cân nhau nên cái user nó lệch hẳn lên nên ta sẽ cho cái thuộc tính display:inline-flex vào cái thẻ cha ul của nó */
.header__navbar-user-name{
    margin-left: 4px;
    font-weight: 400;
    font-size:1.4rem;
}
/* vì cái layout của chúng ta nó chồng lên nhau nên cái menu của mk nó chìm xuống dưới cái giỏ hàng=> z-index  */
.header__navbar-user-menu{
    position:absolute;
    z-index: 1;
    list-style:none;
    top:calc(100% + 6px);
    right: 0;
    padding-left: 0 ;
    background-color:var(--white-color);
    width:160px;
    border-radius: 2px;
    box-shadow :0 1px 2px #e0e0e0;
    display: none;
}
.header__navbar-user-menu::before{
    content: '';
    position: absolute;
    top: -28px;
     border-style: solid;
     border-width: 20px 26px;
    border-color: transparent transparent var(--white-color) transparent;
    right:4px;
 
 }
 /* làm cầu nối cho user-menu */
 .header__navbar-user-menu::after{
    content: '';
    position: absolute;
    top:-8px;
    right: 0;
    width:56%;
    height:8px;
    /* k xét chều cao cho nó thì nó k hiẹn */
    display: block;

 }
/* nó css vào thẻ a chứ k phải thẻ li */
.header__navbar-user-item{
    line-height:2.2rem;
}
.header__navbar-user-item:hover a{
    color: rgb(23, 184, 162);
}
.header__navbar-user-item-separate{
    border-top: 1px solid rgba(0,0,0,0.03);
}
.header__navbar-user-item a {
    text-decoration:none;
    color:rgba(0, 0, 0, 0.6);
    font-size:1.4rem;
    padding: 4px 16px;
    display:block;
    font-weight:400;
    
    /* padding nó k ăn thẻ a nó k đẩy ra padding nên mk phải cho cái thuộc tính display:inline-block; or block cx đc vì nó xuống dòng sẵn r */
    /* hover vào thẻ a cx đc vì mk padding vào nó r */
}
/* khi hover vào thì nó chòi cái nhọn ra nên phải xử lí nó */
.header__navbar-user-item a:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding-top:8px;
}
.header__navbar-user-item a:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-user-item a:hover{
    background-color:#fafafa;
    /* nếu hover  vào thì sẽ k đổi màu cái padding vì ta cho cái padding vào thẻ ul chứ k phải thẻ a => ta bỏ cái padding 16px của thẻ ul đi cho vào a */
}
.header__navbar-icon{
    font-size: 1.8rem;
    margin: 0 4px;
}
.header__navbar-title--no-pointer{
    cursor: text;
    color: var(--white-color);
}
.header__qr{
    width:186px;
    background-color:var(--white-color);
    position:absolute;
    top:118%;
    left:0;
    padding:8px;
    border-radius: 2px;
    display:none;
    animation: fadeIn ease-in 0.3s;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}/* cầu nối nha*/
.header__qr::before{
    content: '';
    position:absolute;
    width: 100%;
    height:20px;
    display: block;
    left:0;
    top:-16px;
}
/*lam cai cau naoi xuong thang pr bang lơp giả before*/
.header__navbar-item--has-qr:hover .header__qr{
    display:block;
}
.header__qr-img{
    width: 100%;;
}
.header__qr-apps{
    display:flex;
    justify-content:space-between;
}
.header__qr-link:first-child{
    margin-left: 11px;
}
.header__qr-link:last-child{
    margin-right: 11px;
}
.header__qr-download-img{
    height:15px;
}
.header__notify{
    position:absolute;
    width:404px;
    top:118%;
    right:0;
    background-color: var(--white-color);
    border: 1px solid #D3D3D3;
    cursor: default;
    display:none;
    will-change: opacity, transform;
    animation: headerNotifyGrowth ease-in .3s;
    transform-origin: calc(100% - 32px) top;
    z-index: 1;
    border-radius: 2px;
}
.header__notify::before{
   content: '';
   position: absolute;
   top: -28px;
    border-style: solid;
    border-width: 20px 26px;
   border-color: transparent transparent var(--white-color) transparent;
   right:4px;

}
.header__notify::after{
    content: '';
    position: absolute;
    width: 90px ;
    background-color:transparent;
    height: 20px;
    top: -18px;
    right:0;
    display: block;
}
/*Làm cái mũi tên chồi lên mà k cần phải phải dùng bất kì thẻ nào chỉ cần dùng lóp giả và cho cái boder dầy lên tầm 20px*/

@keyframes headerNotifyGrowth{
    from{
        opacity: 0;
        transform: scale(0);/*nó đi từ vtrí thu nhỏ nhỏ nhất đến cái vị trí thu nhỏ lớn nhất*/
    }
    to{
        opacity:1;
        transform: scale(1);
    }
}

.header__navbar-item--has-notify:hover .header__notify{
    display: block;
}
.header__notify-header{
    height:40px;
    background-color: var(--white-color);

}
.header__notify-header h3{
    color:#9999;
    font-size:1.4rem;
    font-weight:400;
    margin:0 0 0 12px;
    line-height:40px;
   
}
.header__notify-list{
    padding-left:0;

}
.header__notify-item{
    display:flex;
}
.header__notify-item:hover{
    background-color:#f5f5f5;
}
.header__notify-item--viewed:hover{
    background-color:rgba(238,75,43,0.09);
}
.header__notify-link{
    display:flex;
    text-decoration: none;
    padding:12px;
    width:100%;
 
}
.header__notify-img{
    width: 38px;
    height: 28px;
    object-fit: contain;
}
.header__notify-infor{
    padding-left: 12px;

}
.header__notify-name{
    display: block;
    font-size:1.4rem;
    font-weight:400;;
    color:var(--black-color);
    line-height:1.4rem;
}
.header__notify-descrip{
    display: block;
    font-size:1.2rem;
    color:#756f6f;
   line-height:1.8rem;
   margin-top: 4px;
}
/* header__sort-bar */
.header__sort-bar{
    position:fixed;
    top:var(--header-height);
    left:0;
    right:0;
    height:var(--header-sort-bar-height);
    background-color:var(--white-color);
    /* display:flex; */
    list-style: none;
    margin:0;
    padding-left:0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display:none;
    /* cho nó ẩn đi thì bỏ cái display :flex đi, trong PC thì trả lại nó là flex ,block cx ok nhưng nó sẽ vỡ giao diện  */
}
.header__sort-item{
    flex:1;
    /* flex bằng 1 để nó chiếm hết cái chiều ngang */
}
.header__sort-item:first-child .header__sort-link::after{
    display: none;
}
.header__sort-link{
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    display: block;
    font-size:1.4rem;
    height: 100%;
    line-height:var(--header-sort-bar-height);
    text-align: center;
}
.header__sort-link::after{
    position:absolute;
    content: '';
    top:50%;
    left:0;
    height:60%;
    border-left:1px solid #e5e5e5;
    transform:translateY(-50%);
}
.header__sort-item--active .header__sort-link{
    color:var(--primary-color);
}
.footer__notify-footer{
    display:flex;
    padding: 8px 32px;
}
.footer__notify-footer-btn{
    text-decoration: none;
    color:var(-black-color);
    margin: auto;
    font-size:1.4rem;
    font-weight:400;
    
}
/*authen modal*/
.auth-form{
    width:500px;
    background-color:var(--white-color);
    border-radius:52x;
    overflow:hidden;
}
.auth-form__container{
    padding:0 32px;
}
.auth-form__header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding :0 12px;
    margin-top: 10px;

}
.auth-form__heading{
    font-weight:400;
    font-size:2.2rem;
    color:var(--black-color)
}
.auth-form__swith-btn{
    font-weight:400;
    font-size:1.6rem;
    color:var(--primary-color);
    cursor:pointer;
}
.auth-form__form{
   
}
.auth-form__input{
    margin-top: 16px;
    width: 100%;
    height:40px;
    padding: 0 12px;
    font-size:1.4rem;
    border: 1px solid var(--border-color);
    border-radius:22x;
    outline: none;
}
/*cho nó cái nhấp nháy bodder khi mk kích chuotoj vô*/
.auth-form__input:focus{
    border-color: #888;
}
.auth-form__aside{
    margin-top:20px;
}
.auth-form__aside-text{
    font-size: 1.2rem;
    line-height: 1.8rem;
    padding:0 12px;
    text-align: center;
}
.auth-form__text-link{
    text-decoration: none;
    color:var(--primary-color);
}
.auth-form__control{
    margin-top:80px;
    display:flex;
    justify-content: flex-end;
}
.auth-form__control-back{
    margin-right: 8px;
}
.auth-form__socials{
    background-color:#f5f5f5;
    padding:16px 36px;
    display:flex;
    justify-content: space-between;
    margin-top: 22px;
}
.btn__size-s{
    font-size: 12px;
    height: 32px;
}
.auth-form__socials-icon{
    font-size:1.8rem;
}
.auth-form__socials-facebook,
.auth-form__socials-icon{
    color:var(--white-color);
}
.auth-form__socials-facebook{
    background-color: #3A5A98;
    color:var(--white-color);
}
.auth-form__socials-title{
    margin: 0 36px;
}
.auth-form__socials-google{
    background-color:var(--white-color);
    color:#9999;
}
.auth-form__help{
    display: flex;
    justify-content: flex-end;
}
.auth-form__help-link{
    font-size:1.4rem;
    text-decoration: none;
    color:#939393;
}
.auth-form__help-sperate{
    display: block;
    border-left: 1px solid var(--border-color);
    height:22px;
    margin:0px 16px ; 

}
.auth-form__help-forgot{
    color:var(--primary-color);
}
/* header-with-search */
.header-width-search{
    height: var(--header-with-search-height);
    display:flex;
    align-items: center;
    margin: 0 8px;
}
.header__mobile-search{
    padding: 0 12px;
    display: none;
    /* cho nó bằng cái thằng giỏ hàng để nó đều 2 bên nha */
}
.header__mobile-search-icon {
    font-size: 2.6rem;
    color:var(--white-color)
}
.header__logo{
    width:200px;

}
.header__logo-link{
    display: block;
    color:transparent;
    text-decoration: none;
    line-height:0;
}
.header__logo-img{
    width:150px;
    color:var(--white-color)
}
.header__search{
    background-color:var(--white-color);
    height:40px;
    flex:1;
    border-radius: 2px;
    display:flex;
    align-items: center;
    
}

.header__cart{
    width:150px;
    text-align:center;
}
.header__cart-wrap{
    position: relative;
    display:inline-block;
    cursor: pointer;
    padding:0 12px;
    -webkit-tap-highlight-color: transparent;
    /* khi mk kích chuột nó hiện lên cái nền màu padding xấu ở mobile nên bỏ nó đi */
    
}

.header__cart-icon {
    font-size: 2.6rem;
    color: var(--white-color);
}
.header__cart-list{
    position: absolute;
    width:400px;
    background-color: var(--white-color);
    right:1px;
    top: 142%;
    box-shadow: 0 2px  10px #ccc;
    display:none; 
    cursor:default;
    z-index: 1;
}
.header__cart-wrap:hover .header__cart-list{
    display:block;
}
.header__cart-list--no-cart{
    padding:20px 0;  
}
.header__cart-no-cart-img{
   width:50%;
   display:none;
 }
 .header__cart-no-cart-msg{
     font-size:1.4rem;
     color: var(--text-color);
     
     margin-top:14px;  
     display:none;
 }
 .header__cart-list--no-cart .header__cart-no-cart-img,
 .header__cart-list--no-cart .header__cart-no-cart-msg{
     display:block;
     margin-left: auto;
     margin-right: auto;
 }
 .header__cart-list::after{
    position: absolute;
    content: '';
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    top: -26px;
    right: 3px;
    cursor: pointer;
 }
/* .header__cart:hover .header__cart-list{
    display: block;
} */
.header__cart-notice{
    position: absolute;
    font-size: 1.4rem;
    padding: 2px 7px;
    background-color: var(--white-color);
    line-height: 1.4rem;
    border-radius: 10px;
    color: var(--primary-color);
    top: -12px;
    right: -4px;
    border: 2px solid #EE4D2D;
}
.header__cart-heading{
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color:#9999;
    font-weight:400;
}
.header__cart-list-item{
    padding-left:0;
    list-style: none;
    max-height:56vh; 
    /* 70vh là 70% chiều cao của trình duyệt */
    overflow-y: auto;
}
.header__cart-item{
    display:flex;
    align-items: center;
}
.header__cart-item:hover{
    background-color:#F6F6F6;
}
.header__cart-img{
    width:42px;
    height:42px;
    margin:12px;
    border:1px solid #E8E8E8;
}
.header__cart-item-infor{
    width:100%;
    margin-right: 12px;
}
/* name và price lên cùng 1 hàng thì cho cái flex vào cái thẻ cha heading */
.header__cart-item-heading{
    display:flex;
    align-items: center;
    justify-content:space-between;
    /* name và cái price nó cách xa nhau lí do 2 thằng này nó k cách xa nhau là do ô head này width c ăn hết 100% , nhưng vẫn k cách xa ra đc thì tiếp tục do cais thẻ cha của nó là ô item-infor nên chuyển 100% lên nó nhé*/
    
}
.header__cart-item-name{
    font-size: 1.4rem;
    font-weight:500;
    color:var(--text-color);
   margin:0;
}
.header__cart-item-price{
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight:400;
}
.header__cart-item-mutify{
    font: size 0.9rem;
    margin:0 4px;
    color:#757575;

}
/* thẻ h nó sẽ có cái margin ban đầu r nên nó sẽ đẩy cái thằng phân loại xuống nên ta sẽ bỏ nó đi đó là thằng name có thẻ h*/
.header__cart-item-qnt{
    color:#757575;
    font-size:1.2rem;

}
.header__cart-item-body{
    display:flex;
    justify-content:space-between;
}
/* /cho margin right vào cái des nhưng thôi cho hẳn vào cái infor để nó ăn cả cái thằng heading kía */
.header__cart-item-decriptioon{
    color:#757575;
    font-size:1.2rem;
    font-weight:300;

}
.header__cart-item-remove{
    color:var(--text-color);
    font-size:1.4rem;
    font-weight:400;
}
/* di chuột vào chữ xóa nó đổi màu  đỏ*/
.header__cart-item-remove:hover{
    color:var(--primary-color);
    cursor: pointer ;
}
.header__cart-view-cart{
    float:right;
    margin:0 12px 12px 0;
}
.header__cart-view-cart:hover{
    background-color:#F05D41;
}
/* cho cái cart-item align-item center để nó căn giưuax */
.header__search-input{
    width:100%;
    height:100%;
    border-radius: 2px;
    font-size: 1.4rem;
    outline:none;
    border:none;
    padding: 0 16px;
    color:var(--text-color);
}
.header__search-selection{
    border-left: 1px solid #E8E8E8;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
    height:40px;
    display:flex;
    align-items: center;
}
.header__search-select-lable{
    font-size :1.4rem;
    color:var(--text-color);
    
}
.header__search-select-icon{
    font-size :1.4rem;
    color:#4A4A4A;
    margin:0 16px 0 8px;
    top:2px;

}
.header__search-btn{
    background-color:var(--primary-color);
    border:none;
    width:60px;
    height:34px;
    outline:none;
    margin-right: 3px;
    border-radius:22x;

}
.header__search-btn-icon{
    color : var(--white-color);
    font-size:1.6rem;
}
.header__search-btn:hover{
    background-color: rgb(243, 94, 94);
    cursor:pointer;
}
.header__search-option{
    position: absolute;
    width:130px;
    top: calc(100% - 6px);
    right:0;
    list-style:none;
    padding-top: 8px;
    box-shadow: 0 1px 2px #ccc;
    padding-left: 0;
     display:none;  
     animation:fadeIn ease-in 0.2s;
     background-color: var(--white-color);
     z-index: 1  ;
     border-radius:2px;
   
}
.header__search-selection:hover .header__search-option{
    display:block;
  

}
.header__search-option::after{
    content: '';
    position: absolute;
    width:100%;

    height:15px;
    top:-15px;
    left:0;
    display:block;
}
.header__search-item{
    background-color:#ffff;
    border-radius: 2px;
    padding:6px

}
.header__search-option span{
    font-size:1.4rem;
    color :var(--text-color);
    margin-left: 8px;
}
.header__search-option i{
    font-size:1.4rem;
    color:var(--primary-color);
    margin: 0 4px 0 6px 
    /* margin: 0 4px 0 6px;ban đầu nó là 12px chứ k phải 6 */
}
.header__search-item:hover{
    background-color:#FAFAFA;
    cursor: pointer;
}
/* header-history */
.header__search-input-wrap{
    flex:1;
  position: relative;
  height:100%;

}
/* mk bị lỗi ghi đè nên không fix cứng đc huhu */
.header__search-history{
    position: absolute;
    background-color: var(--white-color);
    border-radius: 2px;
    top: calc(100% + 4px);
    left: 0;
    box-shadow: 0 1px 3px #999;
    width: 630px;
    display:none;
    z-index: 1;
}
.header__search-heading{
    font-size: 1.4rem;
    color: #999;
    margin: 6px 12px;
    font-weight: 400;
}
.header__search-list{
    list-style: none;
    padding-left: 0;
    margin: 6px 0 0;
}
.header__search-item{
    height: 38px;
    padding: 0 12px;
}
.header__search-history a {
    text-decoration: none;
    font-size:1.4rem;
    line-height:38px;
    color: var(--text-color);
}
.header__search-item:hover{
    background-color:#fafafa;
}
/* :focus ~ khi chúng ta kích chuột vào nó thì thằng history kia hiện ra */
.header__search-input:focus ~ .header__search-history{
    display: block;
}
/* app__container */
.app__container {
    background-color:#F5F5F5;
}
.app__content{
    padding-top: 36px;
}
.category{
    background-color:var(--white-color);
    border-radius:2px;
}
.category__heading{
    font-size:1.5rem;
    color:var(--text-color);
    padding:18px 16px 0;
    margin-top: 0;
    text-transform: uppercase;
    /* thuộc tính trên la chữ in */
    font-weight:400;
    
}
.category__heading-icon{
    font-size:1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
    /* để cho cái icon nó bằng vs csi danh mục */
 }

.category-list{
    padding:0 0 8px 0;
    list-style:none;
    margin-left: 9px;
    /* margin nó vào để cho cái icon border nó dóng thẳng icon trên cho đẹp */
}
.category-item{
    position: relative;
}
.category-item:first-child::before{
    display: none;
    /* bỏ cả cái bodder dưới danh mục đi trông nó xấu  */
}
.category-item::before{
    position: absolute;
    content: '';
    border-top: 1px solid #E1E1E1;
    top: 0;
    left: 20px;
    right: 20px;
    
}
.category-item__link{
    text-decoration:none;
    color:var(--text-color);
    font-size:1.4rem;
    padding :6px 20px;
    display:block ;
    /* k có cái block thì có padding lên 1000 nó cx dell ăn vì nó là thẻ a , nó sẽ đẩy cả  2 chiều*/
    position:relative;
    /* right:0;
    transition: right linear 0.1s; */
    /* thằng transition định nghĩa chuyển động cho nó bắt đầu từ right 0 đến -4px kiểu linnear tg 0.1s ,cđ này nó chỉ ăn khi ta hover or làm j vào nó=> hover :right:-4px; */
}
.category-item__link:hover{
    color:var(--primary-color);
    /* right:-4px; */
}
.category-item--active .category-item__link{
    color:var(--primary-color);
    /* nó chỉ thêm cho thằng li chứ k phải a nên phải.link để gọi đến nó , sử dụng lướp  giả đi */
}
.category-item--active .category-item__link:before{
    /* content: '';
    position: absolute;  
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
    top:50%;
    left:7px;
    transform:translateY(-50%); */
}
/* Home sort + filter */

/* Mobile category */

.mobile-category{
    display:none;
}
.mobile-category__list{
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto;
}
.mobile-category__list::-webkit-scrollbar {
    display: none;
}
.mobile-category__item{
    flex-shrink: 0;
    margin-right: 10px;
}
.mobile-category__item:nth-of-type(3n+1) .mobile-category__link{
    background-color:#87afd8;
}
.mobile-category__item:nth-of-type(3n+2) .mobile-category__link{
    background-color: #76c9bd;
}
.mobile-category__item:nth-of-type(3n+3) .mobile-category__link{
    background-color:#88cf81;
}

.mobile-category__link{
    --line-height:2rem;
    text-decoration: none;
    color:var(--white-color);
    font-size:1.4rem;
    line-height: var(--line-height);
    text-align: center;
    width: 110px;
    height:calc(var(--line-height) *2);
    display:block; 
    border-radius: 4px;
     font-weight: 300; 
     overflow: hidden;
     display: -webkit-box;
     -webkit-box-orient:vertical;
     -webkit-line-clamp: 2;
     user-select: none;
     /* k cho nguwoif dùng select vào chữ */
    padding:0 7px;

    
}

.home-filter{
    display:flex;
    align-items:center;
    background-color:rgba(0,0,0,0.04);
    padding: 12px 22px;
    border-radius:2px;
 
}
.home-filter__label{
    font-size:1.4rem; 
    color:#5555;
    margin-right: 16px;
}
.home-filter__btn{
    margin-right:12px;
    min-width: 90px;
}
/* viet file base */
.select-input{

}
.select-input__lable{

}
.home-filter__page{
    display:flex;
    align-items:center;
    margin-left: auto;
    /* auto để cho nó nổi sang bên phải, kiểu nó đẩy auto bên trái */
}
.home-filter__page-num{
    font-size:1.4rem;
    color:var(--text-color);
    margin-right:22px;
}
.home-filter__page-curent{
    color:var(--primary-color);
}
.home-filter__page-control{
    border-radius: 2px;
    overflow: hidden;
    width:72px;
    display:flex;
    height:36px;
}
.home-filter__page-btn{
    flex:1;
    background-color: var(--white-color);
    text-decoration: none;
    display:flex;
}
.home-filter__page-btn:first-child{
    border-right: 1px solid #eee;
}
.home-filter__page-icon{
    font-size:1.4rem;
    margin: auto;
    color:#555;
}
.home-filter__page-btn--disable{
    background-color: #f9f9f9;
    cursor: default;
}
.home-filter__page-icon--disable .home-filter__page-icon{
    color:#ccc;
}
/* home product item */
.home-product{
    margin-bottom: 10px;
}
.home-product-item {
    background-color:var(--white-color);
    margin-top: 10px;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    /* định nghĩa ra cái chuyển động liên quan đến thằng transform: thì ốp cái chuyển động đều liner trong tgian 0.1 s , ở đây khai báo , dưới hover gọi đến nó; */
    will-change:transform;
    display:block;
    text-decoration: none;
    /* vì mk sửa lại là thẻ a nên nó k có sẵn thuộc tính display = block nên phải cho vào */
}
.home-product-item:hover{
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.05);
    /* 20px là cái độ nhòe, 0 là ofset X tức là chiều ngang k thay đổi */
    transform: translateY(-1px);
}
.home-product-item__img {
    padding-top: 100%;
    /* đc hiểu là 100% chiều ngang của thẻ chưa nó , lúc này ảnh nó sẽ hiện lên */
    background-repeat: no-repeat;
    background-size:contain; 
    /* contain nó cx sẽ co lại  */
    background-position:top center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.home-pruduct-item__name {
    font-size:1.4rem;
    font-weight:400;
    color: var(--text-color);
    line-height: 1.8rem;
    height :3.6rem;
    overflow:hidden;
    /* 2 cái thuộc tính bên treen là để xét chiều cao cho nó chỉ còn 2 dòng thôi và ẩn đi nếu nó vượt quá 2 dòng 
    làm thế nào để hiện dấu.... dòng dưới*/
    padding: 0 ;
    margin: 10px 10px 6px 10px;
    display: block;
    display: -webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp: 2;
}
.home-pruduct-item__price {
    display: flex;
    align-items:baseline;
    /* baseline nó lấy cái chân dòng làm chân cố định */
    flex-wrap: wrap;
    /* xuống dòng trong trường hơp cái giá nó dài */
}
.home-pruduct-item__price-old {
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
    margin-left: 10px;
}
.home-pruduct-item__price-curent {
    font-size:1.6rem;
    color: var(--primary-color);
    margin-left: 6px ;
    margin-right:10px;
}
.home-pruduct-item__action {
    display:flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}
.home-pruduct-item__like {
    font-size:1.3rem;
}

i.home-pruduct-item__like-icon-fill{
    display:none;
}
.home-pruduct-item__like-liked .home-pruduct-item__like-icon-fill{
    display:inline-block;
    color:var(--primary-color);
}
.home-pruduct-item__like-liked .home-pruduct-item__like-icon-empty{
    display: none;
}

.home-pruduct-item__rating {
    font-size:1rem;
    transform: scale(0.8);
    /* scale cho nó nhỏ đi mà k qtam lắm đến font-size , scale nó cho truyền vào size to nhỏ theo cái font-size đã xét sẵn ở trên*/
    transform-origin: right;
    /* right nó để cái tâm thay đổi từ bên phải */
    color:#d5d5d5;
    margin-left: auto;
    /* do có flex nên auto nó sẽ đẩy xa nhất có thể đến khi sát thằng 88 thì thôi để tiết kiểm thẻ div nhé:)*/
    position:relative;
    top:-1px;
    /* 2 cái trên xử lí nó bằng cái margin-top:-1px cx đc 
    viết chung margin: -1 0 0 auto*/
}
.home-pruduct-item__star-gold{
    color:var(--star-gold-color);
}
.home-pruduct-item__sold{
    font-size:1.2rem;
    color:var(--text-color);
    margin-left: 6px;
}
.home-pruduct-item__origin {
    display:flex;
   /* k dùng space-between thì dùng cái auto bên dưới hiệu quả vẫn ok*/
   margin:3px 10px 0;
   color: rgb(89, 89, 89);
   font-weight:300 ;
   font-size:1.2rem;
   
}
.home-pruduct-item__brand {
    margin-right: auto;
}
.home-pruduct-item__origin-name {

}
.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color:var(--primary-color);
    background-color: currentcolor;
    /* currentcolor nó sẽ ăn theo cái màu color bến trên kia */
    font-size: 1.2 rem;
    font-weight:500;
    line-height:1.6rem;
    padding-right: 4px;
    border-top-right-radius:3px ;
    border-bottom-right-radius:3px ;
}
.home-product-item__favourite::before{
    content: "";
    position: absolute;
    border-top:3px solid currentcolor;
    filter:brightness(60%);
    /* giảm cái độ sáng của màu 40% của cái màu ăn theo */
    border-left:3px solid transparent;
    left: 0;
    bottom :-3px;
    
}
.home-product-item__favourite i{
    font-size:0.9rem;
    margin :0 2px 0 5px;
    color:var(--white-color);
}
.home-product-item__favourite span{
    color:var(--white-color);
}
.home-product-item__sale-off {
    position: absolute;
    top: 0;
    right: 0;
    width : 40px;
    height : 36px;
    background-color:rgb(255, 216, 64, 0.94);
    text-align: center;
    border-top-right-radius:2px;
}
.home-product-item__sale-off::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 20px 4px ;
    /* 2 cái 20 chụm đầu vào là 40 nha, 4px nó tính theo c cao */
    border-style: solid;
    border-color:transparent rgba(255, 216, 64, 0.94)transparent rgba(255, 216, 64, 0.94);

}
.home-product-item__sale-off-percent {
    font-weight: 600 ;
    color : #EE4D2D;
    font-size: 1.3rem;
    line-height:1.3rem;
}
.home-product-item__sale-off-lable {
    font-size:1.3rem;
    line-height:1.3rem;
    color : var(--white-color);
    font-weight:600;
}

.home-product__pagination{
    margin-top: 50px;
    margin-bottom:32px;
    padding-left: 0;
}

/* footer */
.footer{
    border-top: 4px solid var(--primary-color);
    padding-top:12px;
    background-color:var(--white-color);
}
.footer__heading{
    font-size:1.4rem;
    color: var(--text-color);
    text-transform: uppercase;
}
.footer-list{
    padding-left: 0;
    list-style-type: none;
}
.footer-item{

}
.footer-item-link{
    text-decoration: none;
    color: #737373;
    font-size: 1.2rem;
    padding: 2px 0;
    display:flex;
    align-items: center;
    
}
.footer-item-link:hover{
    color: var(--primary-color);
}
.footer-item__icon{
    font-size:1.6rem;
    margin: -1px 8px 0 0;
    
}
.footer__download{
    display:flex;
}

.footer__download-qr{
    width:80px;
    object-fit: contain;
    /* object-fit nó giống với background-size: nhưng nó dùng cho thẻ img còn cái kia nó dùng backgr img; */
    border :1px solid var(--border-color);
    height : 80px;
}
.footer__downlaod-app-link{
    text-decoration: none;
    color: transparent;
}
.footer__download-apps{
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer__download-app-img{
    height:16px;    
}
.footer__bottom{
    background-color:#F5F5F5;
    padding:12px 0;
    margin-top:36px;
}
.footer__text{
    margin:0;
    font-size:1.2rem;
    text-align:center;
    color:#737373;
}
